#top-buttons {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 10px 0;
    text-align: center;
}

#bottom-buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 10px 0;
    text-align: center;
}

#login-container {
    background-color: white;
    padding: 25px 50px;
    max-width: 50%;
    margin: 0 auto;
}

#settings-container {
    background-color: white;
    padding: 25px 50px;
    max-width: 100%;
    margin: 0 auto;
}

#login-container form {
    display: flex;
    flex-direction: column; /* Place items vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
}


#password {
    width: 75%;
    padding: 10px;
    margin: 10px 0;
    background-color: white;
    border: 2px solid #000000; /* Changed border color to bright green */
    border-radius: 5px;
    font-size: 16px;
    color: black; /* Added white text color for better visibility */
}

#login-button {
    width: 75%;
    padding: 10px;
    background-color: grey;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#login-button:hover{
    background-color: dimgrey;
}

#header {
    text-align: center;
    margin: 25px 0 75px 0;
}

/* Container styles */
.scrollable-list {
    height: 300px;
    overflow: auto;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* List styles */
.scrollable-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.scrollable-list ul li {
    padding: 10px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    color: #333;
}

.scrollable-list ul li:last-child {
    border-bottom: none; /* Remove border for the last item */
}

/* Hover effect on list items */
.scrollable-list ul li:hover {
    background-color: #e0e0e0;
    transition: background-color 0.3s ease;
}