################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/parser/.vs/parser
/parser/x64/Debug
/parser/parser/x64/Debug
