@import "mixins";
@import "variables";

* {
  margin: 0;
  padding: 0;
}

button{
  @include button-style($grey-color, 6px);
}

input{
  @include input-style;
}

#top-buttons {
  @include fixed-button-bar-style;
  top: 0;
}

#bottom-buttons {
  @include fixed-button-bar-style;
  bottom: 0;
}

.list-element {
  @include list-element-style;
}

#game-list{
  @include game-list-style;
}

#preference-list {
  @include preference-list-style;

  .preference-list-element {
    @include preference-list-element-style;
    align-items: center;
    margin: 10px 0;

    .preference-key-value-pair {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 10px;

      h2 {
        font-size: 18px;
        margin: 5px 0;
      }

      input[type="text"] {
        padding: 5px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 200px;
      }
    }
  }
}



form {
  @include form-style;
}

#content {
  display: grid;
  place-items: center;
  height: 100vh;
}