@import "mixins";
@import "variables";

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

#header {
  padding-top: 8%;
  flex: 0 0 9%;
  padding-bottom: 8%;
  @include page-header;
}

label {
  @include label-style;
}

button{
  @include button-style($gray-3-color, 1rem);
}

input{
  @include input-style;
}

#bottom-buttons {
  @include fixed-button-bar-style;
  bottom: 0;
  flex: 0 0 6%;
}

.list-element {
  @include list-element-style;
}

#game-list{
  @include game-list-style;
}

#preference-list {
  @include preference-list-style;

  .preference-list-element {
    @include preference-list-element-style;
    margin: 10px 0;

    .preference-key-value-pair {
      display: flex;
      flex-direction: column;

      h2 {
        font-size: $mobile-font-size;
        margin: 0.3rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }

      input[type="text"] {
        padding: 5px;
        font-size: $mobile-font-size;
        border: 0.2rem solid $gray-2-color;
        border-radius: 1rem;
      }
    }
  }
}

.w-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

#device-id-input {
  margin: 1rem;
  width: calc(100% - 2rem);
}



form {
  @include form-style;
}

#box {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 1rem;
}

#content {
  display: grid;
  place-items: center;
  flex-grow: 1;
  height: 85%;
  border: 0.2rem solid $gray-2-color;
  border-radius: 1rem;
}

